<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content="This is a forum for sports fans to chat, discuss, and maybe even brag alittle but about his or her favorite teams.">
    <meta name="keywords" content="sports, news, updates, chat, fans, teams">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet/less" type="text/css" href="../css/home.less" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
    <script src="../js/main.js"></script>
</head>
<body>
    <div class="container">
        <div class="row welcome-info">
            <!-- this informaation is shown to the page via jQuery, one after the other once the page loads-->
             <h1 class="well text-center" id="site-intro"><i class="fa fa-comment"></i> Welcome to Pro Talk</h1>
             <h3 class="text-center site-info1">Stay Up To Date</h3>
             <h3 class="text-center site-info2">Discuss what's happening around the league</h3>
             <h3 class="text-center site-info3">Brag about your favorite team</h3>
             <h3 class="text-center" id="real-time">All in Real Time</h3>
         </div>

         <!--allow the user to sign in here, FB is the only option-->
         <div class="row facebook-signin">
                <p>Sign in to start chatting</p>
                <a href="/auth/facebook" class="text-center btn btn-primary fbsignin"><i class="fa fa-facebook-square"></i> Sign In With Facebook</a>
         </div>
    </div>
</body>
</html>
















